.followingsCard__profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.followingsCard__profile--image {
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.followingsCard__profile--name {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--font-color);
  transition: all 0.25s ease-in-out;
}

.followingsCard__profile:hover .followingsCard__profile--name {
  color: var(--primary);
  /* text-decoration: underline; */
  transition: all 0.25s ease-in-out;
}

.followingsCard__profile--options {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
