.profilepage {
  width: 100%;
  background-color: var(--background);
}

.profile__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

.profile--header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--background-light);
  border-radius: 1rem;
  overflow: hidden;
  padding: 2rem;
}

.profile--banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.profile--image {
  position: relative;
  top: -4rem;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  width: 8rem;
  border-radius: 50%;
  outline: 0.5rem solid var(--background-light);
  overflow: hidden;
}

.profile--infosection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile--userinfo {
  margin-top: -2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.profile--name {
  font-weight: 600;
  color: var(--font-color);
}

.profile--username {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--primary);
}

.profile--headline {
  margin-top: 0.5rem;
  font-weight: 300;
}

.profile--followbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}
