.postcard__container {
  width: 100%;
  background-color: var(--background-light);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.25s ease-in-out;
}

.postcard__container:hover {
  -webkit-box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.35);
  transition: all 0.25s ease-in-out;
}

.post__image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  height: 300px;
}

.post__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.post__details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
}

.post__userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.post__userImg {
  overflow: hidden;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

.post__username {
  font-size: 0.9rem;
  font-weight: 300;
}

.post__options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
}

.post__options--icon {
  position: relative;
  color: var(--grey-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: all 0.25s ease-in-out;
}

.post__options--icon:hover {
  color: var(--primary);
  transition: all 0.25s ease-in-out;
}

.post__options--icon:hover .tooltipcard {
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease-in-out;
}
