.navbar {
  width: 100%;
  height: 6rem;
  /* background-color: var(--background-light); */
  /* border-bottom: 0.2px solid var(--grey); */
}

.navbar__container {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__logo img {
  width: 8rem;
}

.navbar__navlinks {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 1.5rem;
}

.navbar__navlink {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey-light);
  transition: all 0.25s ease-in;
}

.navbar__navlink:hover {
  color: var(--primary-light);
  transition: all 0.25s ease-in;
}

.navbar__navlink:hover .tooltipcard {
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease-in-out;
}

.navbar__profile {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.navbar__profile--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.navbar__uploadbtn {
  font-weight: 500;
}
