:root {
  --primary: #03b5aa;
  --primary-light: #00bfb3;
  --primary-dark: #049a8f;
  --primary-darker: #037971;
  --primary-darkest: #023436;
  --foreground: #ffffff;
  --background: #202020;
  --background-light: #292829;
  --grey: #636362;
  --grey-light: #d6d6d6;
}
